# {{ ansible_managed }}
[DEFAULT]
control_exchange = {{ trove_control_exchange }}
transport_url = {{ trove_oslomsg_rpc_transport }}://{% for host in trove_guest_oslomsg_rpc_servers.split(',') %}{{ trove_guest_oslomsg_rpc_userid }}:{{ trove_guest_oslomsg_rpc_password }}@{{ host }}:{{ trove_guest_oslomsg_rpc_port }}{% if not loop.last %},{% else %}/{{ _trove_guest_oslomsg_rpc_vhost_conf }}{% if trove_guest_oslomsg_rpc_use_ssl | bool %}?ssl=1&ssl_version={{ trove_guest_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ trove_guest_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

{% if trove_swift_enabled is defined %}
swift_url = {{ trove_guest_swift_url }}
# Service type to use when searching catalog.
swift_service_type = object-store

# For storage to Swift, use the following as defaults:
storage_strategy = swift

# Default config options for storing backups to swift
backup_swift_container = database_backups
{% endif %}

# Show debugging output in logs (sets DEBUG log level output)
debug = {{ debug }}

[service_credentials]
auth_url = {{ trove_guest_auth_url }}
username = {{ trove_service_user_name }}
password = {{ trove_service_password }}
project_name = {{ trove_service_project_name }}
region_name = {{ trove_service_region }}
project_domain_name = {{ trove_service_project_domain_name }}
user_domain_name = {{ trove_service_user_domain_name }}

[oslo_messaging_rabbit]
# Connect over SSL for RabbitMQ. (boolean value)
# Deprecated group/name - [DEFAULT]/rabbit_use_ssl
ssl = {{ trove_guest_oslomsg_rpc_use_ssl }}
rabbit_quorum_queue = {{ trove_guest_oslomsg_rabbit_quorum_queues }}
rabbit_quorum_delivery_limit = {{ trove_oslomsg_rabbit_quorum_delivery_limit }}
rabbit_quorum_max_memory_bytes = {{ trove_oslomsg_rabbit_quorum_max_memory_bytes }}

[oslo_messaging_notifications]
{% set notification_topics = [] %}
{% if trove_guest_oslomsg_notify_configure %}
{%   set _ = notification_topics.append('notifications') %}
{% endif %}
{% if trove_designate_enabled %}
{%   set _ = notification_topics.append(trove_notifications_designate) %}
{% endif %}
topics = {{ notification_topics | join(',') }}
driver = {{ (notification_topics | length > 0) | ternary('messagingv2', 'noop') }}
transport_url = {{ trove_oslomsg_notify_transport }}://{% for host in trove_guest_oslomsg_notify_servers.split(',') %}{{ trove_guest_oslomsg_notify_userid }}:{{ trove_guest_oslomsg_notify_password }}@{{ host }}:{{ trove_guest_oslomsg_notify_port }}{% if not loop.last %},{% else %}/{{ _trove_guest_oslomsg_notify_vhost_conf }}{% if trove_guest_oslomsg_notify_use_ssl | bool %}?ssl=1&ssl_version={{ trove_guest_oslomsg_notify_ssl_version }}&ssl_ca_file={{ trove_guest_oslomsg_notify_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}
